/settings/localhost*
.DS_Store
._.DS_Store
*~
*.py[co]
*.log
upload
.settings
settings/localhost.py
.project
.pydevproject
media/*
smedia/*
conf/*
!conf/templates
!*/media/.directory
!*/log/.directory
!*/static/.directory
*.db
.idea
.testenv

node_modules
vendor
.coverage

.sass-cache/
dist/
styles/.sass-cache/
htpasswd

static2
celerybeat-schedule
*.map
/env/
/static/
/djangocon_europe/settings/local.py
/.env
/djangocon_europe/.env
/deployment.py
tmp
/fabfile.py
/requirements-live.txt
*tar.gz
*tgz
/requirements-dev.txt
