{% extends CMS_TEMPLATE %}{% load i18n thumbnail sekizai_tags cms_tags %}

{% block title-tag %}DjangoCon Europe 2017 | Florence - 3rd - 7th April | Talks Schedule{% endblock %}

{% block content %}
{% page_url 'venue' as venue_url %}
{% page_url 'sprint_venue' as sprint_venue_url %}
<div class="widget-section section-film-strip bg-purple schedule">
    <div class="grid">
        <div class="s-12">
            <h1>{% trans "Schedule" %}</h1>
            {% static_placeholder "schedule header" %}
            {% regroup talks by day as talks_list %}

            {% for day in talks_list %}
                <section class="schedule-day">
                    {% if forloop.counter0 > 0 %}<hr>{% endif %}
                    <h2>{{ day.grouper }} @ <a href="{{ venue_url }}">Cinema Odeon</a></h2>
                    {% for talk in day.list %}
                        {% include "schedule/includes/slot_fragment.html" %}
                    {% empty %}
                        <li>{% trans "No item yet." %}</li>
                    {% endfor %}
                </section>
            {% endfor %}
            {% if workshops.exists %}
    </div>
</div>
<div class="widget-section section-film-strip bg-yellow schedule">
    <div class="grid">
                <h1>{% trans "Workshops" %}</h1>
                {% static_placeholder "sprints" %}
                {% regroup workshops by day as workshops_list %}

                {% for day in workshops_list %}
                    <section class="schedule-day">
                    {% if forloop.counter0 > 0 %}<hr>{% endif %}
                        <h2>{{ day.grouper }} @ <a href="{{ sprint_venue_url }}">XXXX</a></h2>
                        {% for talk in day.list %}
                            {% include "schedule/includes/slot_fragment.html" %}
                        {% endfor %}
                    </section>
                {% endfor %}
            {% else %}
                {% static_placeholder "schedule footer" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
